


  html
    {height:100%;font-family:arial}
  body
    {min-height:calc(100% - 40px);display:flex;flex-direction:column;gap:10px;margin:20px;align-items:center;
      padding-bottom:200px;
    }
  body>*
    {max-width:1400px;width:100%;padding:0 20px;}
    
  [component]
    {display:none}
    
  #description
    {margin:20px 0;max-width:1000px;text-align:justify}
  #description>div
    {margin:10px 0}

  code
    {font-family:monospace;padding:5px 10px;background:whitesmoke}
  code.inline
    {display:inline}
    
  .link-stable
    {color:blue}
  .link-domain
    {font-size:10px;color:gray}
  .link-txt
    {}


  input
    {font-size:16px;padding:5px 7px;box-sizing:border-box;}
  input[type=button]
    {cursor:pointer}


