body{
    border: 0;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    background-image: linear-gradient(250deg,#e056fd,#eb4d4b,#F8EFBA,#3c40c6);
    background-size: 400%;
    animation: Animation 10s infinite;
}