body{
    border: 0;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    background-image: linear-gradient(250deg,#e056fd,#eb4d4b,#F8EFBA,#3c40c6);
    background-size: 400%;
    animation: Animation 10s infinite;
}

@keyframes Animation {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

video{
    width: 800px;
    height: 450px;
}

#videoBox{
    position: absolute;
    z-index: -10;
    width: 800px;
    height: 450px;
    background-color: #000000;
    left: 65vh;
    top: 16%;
    -webkit-box-reflect: below 10px linear-gradient(transparent,#ffffff60);
}
#messageBox{

    position: absolute;
    padding: 20px;
    width: 40vh;
    height:75vh;
    left: 0;
    top: 17%;
    transform: translateX(0%) translateY(-10%);
    color: #ffb8b8;
    background-color: #00000080;
    -webkit-box-reflect: below 10px linear-gradient(transparent,#ffffff60);
}
