

  html
    {height:100%;font-family:arial}
    
    
  body
    {/*height:calc(100% - 40px);*/display:flex;flex-direction:column;gap:20px;align-items:center;margin:20px;padding-bottom:200px}
    
    
  body>*
    {max-width:1400px;width:100%;padding:0 20px;}
    
  [component],config
    {display:none}
    
  input
    {font-size:16px;padding:5px 10px}
  input[type=button]
    {cursor:pointer}
  input[type=checkbox]
    {width:15px;height:15px;margin:0}
    
    
  #demo-tree
    {margin:20px 0;height:auto !important;overflow:visible;box-sizing:border-box;outline:none;border-radius:5px;
      border:none !important;
      /*border:1px solid lightgray !important;*/
    }
    
  #view-hdr
    {padding:10px;font-weight:bold;background:rgba(173,216,230,0.5);border:1px solid lightgray;border-radius:5px}
    
  #view
    {border:1px solid lightgray;border-radius:5px;padding:10px}
  web-editor
    {}
    

      
  .icon
    {border:1px solid gray;border-radius:3px;box-sizing:border-box;width:30px;height:30px;cursor:pointer}
  .spc
    {flex:1;max-width:200px}


      
      
