

  html
    {height:100%;font-family:arial;scroll-behavior:smooth}
    
  body
    {/*height:calc(100% - 40px);*/display:flex;flex-direction:column;gap:20px;align-items:center;margin:20px;padding-bottom:200px}
  body
    {margin-top:90px}
    
  body>*
    {max-width:1400px;width:100%;padding:0 20px;}
    
  [component],config
    {display:none}
    
  input
    {font-size:16px;padding:5px 10px}
  input[type=button]
    {cursor:pointer}
  input[type=checkbox]
    {width:15px;height:15px;margin:0}


  html-components-hdr
    {position:sticky;z-index:999;background:white;top:0px;padding-top:20px}
    
    
  #demo-tree
    {margin:20px 0;height:auto !important;overflow:visible;box-sizing:border-box;outline:none;border-radius:5px;
      border:none !important;
      /*border:1px solid lightgray !important;*/
    }
    
  #view #files
    {display:flex;flex-direction:column;gap:10px}
    
  #files-view-hdr
    {padding:10px;font-weight:bold;background:rgba(173,216,230,0.5);border:1px solid lightgray;border-radius:5px}
    
  #files-view
    {border:1px solid lightgray;border-radius:5px;padding:10px}
  web-editor
    {}
    

      
  .icon
    {border:1px solid gray;border-radius:3px;box-sizing:border-box;width:30px;height:30px;cursor:pointer}
  .spc
    {flex:1;max-width:200px}



:root 
  {--blue:#39f;
  }
  
  h2
    {border:none !important}
    
  hr
    {height:1px !important}

  .hr-main
    {/*border-bottom:3px solid #d1d9e0 !important*/
        height:3px !important;background:#d1d9e0 !important
    }
    
  .hr-sub
    {/*border:1px solid #d1d9e0 !important*/
      height:1px !important;background:#d1d9e0 !important
      }
    
    
  .desc-txt
    {text-align:justify}
    
    
  .api-function
    {}
  .api-function-title
    {color:var(--blue)}
  .api-function-desc
    {padding-left:50px}
  .api-function h4
    {}


.red { color: #e33; }
.green { color: #3a3; }
.blue { color: #39f; }
.warning { color: orange; font-weight: bold; }
.note { color: #666; font-style: italic; }


