

                  html {
                        height                      : 100%;
                  }
                  
                  body {
                        font-family                 : arial;
                        height                      : calc(100% - 16px);
                        display                     : flex;
                        flex-direction              : column;
                  }

                  
                  a {
                        color                       : blue;
                  }
                  a:visited {
                        color                       : blue;
                  }
          



