

  html
    {height:100%;font-family:arial}
  body
    {min-height:calc(100% - 40px);display:flex;flex-direction:column;gap:10px;margin:20px;align-items:center;
      padding-bottom:200px;box-sizing:border-box;
    }
  body>*
    {max-width:1400px;width:100%}


  [component], config
    {display:none}

    
  .description
    {max-width:1000px;text-align:justify;border-left:4px solid #4a90e2;padding:1rem 2rem;
      background-color:#f9f9f9;font-family:system-ui,sans-serif;font-size:1rem;line-height:1.6;color:#333}
  .description>p
    {margin:0}
  .description > p+p
    {margin:10px 0}
    
    
  .blog-text
    {margin:1.5rem auto;padding:1.25rem 1.75rem;background-color:/*#fcfcfc;*/#f9f9f9;font-family:system-ui, sans-serif;font-size:1rem;line-height:2;
      color:#333;text-align:justify;border-radius:4px}
  .blog-hdr
    {color:blue;font-weight:bold;padding-left:30px;display:flex;font-size:18px}
  .blog-text h2,.blog-text h3
    {margin-top:1.5rem;margin-bottom:0.75rem;font-weight:600;color:#222;display:flex}
  .blog-text p
    {margin:0 0 1rem 0;}
    
    
    
  code
    {font-family:monospace;background:whitesmoke}
  code:not(.inline), code:not([inline])
    {display:block;padding:10px;margin:20px 0;overflow:auto;white-space:pre}
  code.inline, code[inline]
    {display:inline;padding:5px 10px}

    
  a
    {color:#4a90e2;text-decoration:none;font-weight:500}
  a:hover
    {text-decoration:underline}
  .link-domain
    {font-size:0.85rem;color:#777;margin-left:0.25rem}
  .link-domain::before
    {content:'['}
  .link-domain::after
    {content:']'}
  .link-txt
    {}
  .no-underline
    {display:inline-block;text-decoration:none;color:black}

  .icon
    {border:1px solid gray;border-radius:3px;box-sizing:border-box;width:30px;height:30px;cursor:pointer}
  .spc
    {flex:1}
    
  input
    {font-size:16px;padding:5px 10px;box-sizing:border-box}
  input[type=button]
    {cursor:pointer}



