

  html
    {}
  body
    {font-family:arial;margin:20px}
    
  code
    {display:block;border-radius:5px;background:whitesmoke;font-family:monospace;padding:10px;white-space:pre;
      margin:20px 0;
    }




