

  html
    {height:100%;font-family:arial}
  body
    {min-height:calc(100% - 40px);display:flex;flex-direction:column;gap:10px;margin:20px;align-items:center;
      padding-bottom:200px;box-sizing:border-box;
    }
  body>*
    {max-width:1400px;width:100%;padding:0 20px;}



    
  code
    {display:block;border-radius:5px;background:whitesmoke;font-family:monospace;padding:10px;white-space:pre;
      margin:20px 0;overflow:auto;
    }



  input
    {font-size:16px;padding:5px 10px;box-sizing:border-box}
  input[type=button]
    {cursor:pointer}



